.table {
    padding: 10px;
    width: 100%;
    height: 100%;
    margin-top: 30px;
    border: 1px solid #ddd;
}

.th {
    padding: 24px;
    background-color: #333;
    color: #ddd;
}

.td {
    padding: 8px;
    margin: 4px;
}

.btn {
    width: 100%;
    height: 40px;
}

.tr:hover {
    background-color: #eee;
}

.modal-backdrop {
    position: fixed;
    inset: 0;

    background-color: rgba(0,0,0,0.4);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 24px;
    border-radius: 8px;
}