.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #aaa;
    border-radius: 4px;
    margin: 20px;
    padding: 10px;
}

.btn {
    background-color: #aaa;
    border-radius: 4px;
    text-align: center;
    margin: 10px;
    padding: 12px;
}

.input {
    border: 1px solid #333;
    border-radius: 4px;
    text-align: left;
    background-color: white;
    color: black;
}

.select {
    background-color: white;
    color: black;
}

.opt {
    background-color: white;
    color: black;
}