.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 60px;
    gap: 4px;
    text-align: center;
}

.cell.empty {
    background: transparent;
}

.form {
    display: flex;
    flex-direction: row;
    margin: 40px;
    border: 1px solid var(--text-primary);
    border-radius: 6px;
    justify-content: center;
    align-items: center;
}

.button {
    padding: 12px;
    margin: 16px;
}
.selected {
    background: #333;
    color: white;
}

.section {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    padding: 50px;
    gap: 20px;
    height: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    margin: auto 0;
}