.form {
    display: flex;
    flex-direction: row;
    margin: 40px;
    border: 1px solid var(--text-primary);
    border-radius: 6px;
    justify-content: center;
    align-items: center;
}

.button {
    padding: 12px;
    margin: 16px;
}