:root {
  --background: #fff;
  --text-primary: black;
}

.main {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
  color: var(--text-primary);
}

.section {
  margin: 40px;
  border: 1px solid var(--text-primary);
  border-radius: 6px;
}

.button {
  padding: 12px;
  margin: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  padding: 50px;
  gap: 20px;
  height: 100%;
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }
}

/*@media (prefers-color-scheme: dark) {*/
/*  .page {*/
/*    --background: #000;*/
/*    --foreground: #000;*/

/*    --text-primary: #ededed;*/
/*    --text-secondary: #999;*/

/*    --button-primary-hover: #ccc;*/
/*    --button-secondary-hover: #1a1a1a;*/
/*    --button-secondary-border: #1a1a1a;*/
/*  }*/
/*}*/
