:root {
  --background: #fff;
  --text-primary: black;
}

.main {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
  color: var(--text-primary);
}

.button {
  padding: 12px;
  margin: 16px;
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }
}
