.table {
    padding: 10px;
    width: 100%;
    height: 100%;
    margin-top: 30px;
    border: 1px solid #ddd;
}

.th {
    padding: 24px;
    background-color: #333;
    color: #ddd;
}

.td {
    padding: 8px;
    margin: 4px;
}

.btn {
    background: #888;
    padding: 8px 20px;
    border-radius: 8px;
    color: #fff;
}

.tr:hover {
    background-color: #eee;
}